<ion-content scroll="true">

    <ion-list>

        <ion-item class="item-divider">Categories</ion-item>

        <ion-item ng-repeat="category in viewModel.categories"
                  class="item menu-close item-icon-left" href="{{category.href}}">
            <i class="icon ion-{{category.icon}}"></i>
            {{category.name}}
        </ion-item>

        <ion-item class="item-divider">Preferences</ion-item>

        <ion-item class="item-icon-left menu-close" ng-click="controller.reorder_click()">
            <i class="icon ion-shuffle"></i>
            Reorder Categories
        </ion-item>

        <ion-item class="item-icon-left menu-close" ui-sref="app.settings-list">
            <i class="icon ion-android-settings"></i>
            Settings
        </ion-item>

    </ion-list>

</ion-content>