<ion-view>

    <ion-nav-title>
        <div>
           Kênh Yêu Thích
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button icon ion-navicon phone-both-tablet-portrait"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <button class="button button-block button-positive">
            Thêm Kênh
        </button>

        <ul class="list">
            <li class="item" ng-repeat="program in viewModel.Programs">
                <div class="row">
                    <div class="col col-90" ng-click="controller.navigateToChannelSchedule()">
                        <div class="row">
                            <div class="col">
                                <h2 class="title">{{program.Channel}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Đang chiếu {{program.Program}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col" ng-click="controller.removeFavoriteChannel(program.Channel)">
                        <span class="step size-32">
                            <i class="icon ion-trash-a"></i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>