<ion-view>

    <ion-nav-title>
        <div class="tabs">
            <a class="tab-item" href="#/app/mainform">
                Đang Chiếu
            </a>
            <a class="tab-item" href="#/app/category/2">
                Kênh Ưu Thích
            </a>
            <a class="tab-item" href="#/app/category/3">
                Settings
            </a>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button icon ion-navicon phone-both-tablet-portrait"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="true">

        <!--<icon-panel icon="ion-ios-pricetags-outline" text="MainForm"></icon-panel>-->
        Main form

    </ion-content>

</ion-view>